/* 全体リセット（最低限） */
body {
  margin: 0;
  padding: 0;
  font-family: "Hiragino Mincho ProN", "Yu Mincho", "Noto Serif JP", serif;
  background-color: #f7f7f7;
  color: #222;

  line-height: 1.9;
  font-size: 16px;
}

/* 全体の余白（トップ含む） */
body {
  padding: 2em 1.5em;
}

/* 区切り線 */
hr {
  margin: 2.5em 0;
  border: none;
  border-top: 1px solid #aaa;
}

/* ヘッダー・・フッター */
header, footer {
  max-width: 960px;
  margin: 0 auto;
}

/* ログイン画面 */
#login {
  max-width: 360px;
  margin: 120px auto;
  padding: 24px;
  background: #fff;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 16px rgba(0,0,0,0.08);
}

#login p {
  margin-bottom: 16px;
  font-size: 0.95rem;
}

#login input {
  width: 90%;
  padding: 10px;
  margin-bottom: 12px;
  font-size: 1rem;
}

#login button {
  width: 75%;
  padding: 10px;
  font-size: 1rem;
  background: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

#login button:hover {
  background: #555;
}

/* 小説本文 */
.novel {
  max-width: 720px;
  margin: 80px auto;
  padding: 0 20px;
  line-height: 1.9;
  font-size: 1rem;
  border-bottom: 1px solid #ccc
}
/* 段落 */
.novel p {
  margin: 0 0 1.6em;
}

/* セリフを少し読みやすく */
.novel p:has(> br) {
  line-height: 2;
}

.end {
  max-width: 680px;
  margin: 0 auto 64px;
  padding: 0 20px;
  text-align: right;

  color: #666;
  font-size: 0.9em;
}

.end p {
  margin: 0;
}

/* 概要 */
.overview {
  font-size: 0.9em;
  color: #555;
  margin: 1em 0 2em;
}


/* スマホ対応 */
@media (max-width: 600px) {
  .novel {
    margin: 48px auto;
    font-size: 0.95rem;
  }
}

@media (max-width: 600px) {
  body {
    padding: 1.5em 1em;
  }
}
